[submodule "Code/vendor/GHUnit"]
	path = Code/vendor/GHUnit
	url = git://github.com/gabriel/gh-unit.git
[submodule "Code/vendor/json-framework"]
	path = Code/vendor/json-framework
	url = git@github.com:blindingskies/json-framework.git
